@using Fiorello.ViewModels.SliderInfo
@model SliderInfoVM

<div id="content">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">

                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="icon-th"></i></span>
                        <h5>Slider Info</h5>
                    </div>

                    <div class="widget-content nopadding">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center">Title</th>
                                    <th class="text-center">Description</th>
                                    <th class="text-center">Signature Image</th>
                                    <th style="width:180px" class="text-center">
                                        Operations
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center">@Model.Title</td>
                                    <td class="text-center">@Model.Description</td>
                                    <td class="text-center">
                                        <img src="~/uploads/sliderinfo/@Model.SignatureImage"
                                             style="width:100px;height:60px;object-fit:contain;"
                                             alt="Signature Image" />
                                    </td>
                                    <td class="text-center">
                                        <a asp-action="Update"
                                           asp-route-id="@Model.Id"
                                           class="btn btn-warning btn-mini"
                                           title="Edit">
                                            <i class="icon-edit"></i>
                                        </a>

                                        <a asp-action="Delete"
                                           asp-route-id="@Model.Id"
                                           class="btn btn-danger btn-mini"
                                           title="Delete">
                                            <i class="icon-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
